body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Container{
    width: 100%;
    flex-direction: column;
    height: auto;
    display: flex;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: gainsboro;
    font-weight: bold;
}

a:hover{
    color: turquoise;
}